body {
  font-family: 'Inter', sans-serif;
}

/* Custom Lightroom scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #111214;
}

::-webkit-scrollbar-thumb {
  background: #2c323d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #31a8ff;
}

/* Custom visual range input slider nodes */
input[type="range"]::-webkit-slider-thumb {
  background: #31a8ff;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}